/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets/bookingImages
/public/assets/customQuotations
/public/assets/InsurancePod
/public/assets/item_images
/public/assets/pdf
/public/assets/quotationsPDF
/public/assets/quotesPDF
/public/assets/adminQuotesPDF
/public/assets/temporary_images
/public/assets/newQuotations
/public/assets/CustomerQuotations
/public/assets/draftQuotations
/public/assets/supplierQuotations
/public/assets/supplierApproved
/public/assets/newInvoices
/public/assets/newNegativeInvoices
/public/assets/colorImages
/public/assets/Orders
/public/assets/CommissionInvoices
/config/app.php
/resources/views/layouts/front.blade.php
/nodejs/node_modules
/nodejs/media
storage/fonts/installed-fonts.json
app/product_models copy.php
resources/views/user/quotations.blade copy 2.php
