.exact-ac #header { position: relative; background-size: cover; background-repeat: no-repeat; background-position: 60% 0!important; }
.exact-ac .mainmenu ul.nav li a { font-family: Apax,Arial,sans-serif; font-size: 16px; }
.exact-ac .bottom-menu::after, .exact-ac .bottom-menu .country-selector::before { background: #F68D2E; }
.exact-ac .bottom-menu::before, .exact-ac .bottom-menu .country-selector::after { background-color: #BAA488; }
.exact-ac .blog-article.header-navy .header, .exact-ac .blog-article.header-navy .header::after { background: #F8F5F3; }
.exact-ac .article-header .category a { color: #F68D2E; }
.exact-ac .article-header .category a:hover { color: #333; }
.exact-ac .equal-heights .sppb-addon-clickable-text-block { padding-bottom: 40px; }
.exact-ac .equal-heights .row > div .sppb-addon-content p { padding-bottom: 0; }
.exact-ac .equal-heights a .btn { bottom: -40px; }
.exact-ac .customer-story-info-block .sppb-addon-single-image, .exact-ac .customer-story-info-block .sppb-modal-selector { border-left: 5px solid #F68D2E; }
.exact-ac .customer-story-info-block .sppb-addon-button-group, .exact-ac .customer-story-info-block .sppb-addon-text-block { border-left: 5px solid #F68D2E; }
.exact-ac .extend-left, .exact-ac .extend-right { position: relative; }
.exact-ac .extend-left img { position: absolute; top: 0; right: 0; max-width: min-content; margin: 0 15px 30px 0; }
.exact-ac .extend-right img { position: absolute; top: 0; left: 0; max-width: min-content; margin: 0 15px 30px 0; }
.exact-ac .logo-gallery { display: flex; justify-content: space-between; }
.exact-ac .logo-gallery img { filter: grayscale(100%); opacity: 0.4; max-width: 19%; }
.exact-ac .pricing-top { background: #FFFFFF; }

.reeleezee { position: relative; }
.reeleezee #header { background-position: 70% 0 !important; }
.reeleezee h1 span, .reeleezee h2 span, .reeleezee h3 span, .reeleezee h4 span { color: #F68D2E; }
.reeleezee hr { border: 1px dotted #F68D2E; margin-top: 30px;}
.reeleezee.blog-overview .header {  background: #F8F5F3; }
.reeleezee.blog-overview ul.tags li { color: #F68D2E; }
.reeleezee.blog-overview .sppb-addon-article .item-image::after { background:  #F68D2E; }
.reeleezee.blog-overview .col-md-4 { display: none; }
.reeleezee.blog-overview .col-md-8 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%; }
.reeleezee .customers::before, .reeleezee .prices::before { width: 100%; height: 50%; top: 0; content: ""; position: absolute; background: #F8F5F3; display: block; z-index: -1; }
.reeleezee .customers .quote { padding-left: 60px; position: relative; }
.reeleezee .customers .quote::before { content: '"'; font-size: 120px; line-height: 75px; font-family: Apax,Arial,sans-serif; color: #F68D2E; position: absolute; left: 0; top: 0; }
.reeleezee .customers img { border-bottom: 5px solid #F68D2E; }
.reeleezee .customers.simple h2 { border-top: 1px dotted #F68D2E; padding-top: 30px; }
.reeleezee .customers.simple .logo-gallery { border-bottom: 1px dotted #F68D2E; padding-bottom: 30px;  }
.reeleezee .customers.simple:before { background: none; }
.reeleezee .customers.simple img { border: none; }
.reeleezee .feature-table { border: 2px solid #e8ecf1; }
.reeleezee .feature-group > h3 { background: #FFFFFF; margin: 0 -2px; padding: 30px 20px 20px 20px; border-top: 1px solid #F68D2E; border-bottom: 2px solid #e8ecf1; }
.reeleezee .feature-group .feature, .package-titles { display: grid; }
.reeleezee .feature-group .feature:hover { background: #f7f9fb; }
.reeleezee .feature-group .feature div { border: 1px solid #e8ecf1; padding: 10px 20px; }
.reeleezee .feature-group .featureTitle { grid-template-columns: 100%!important; background: #e6ecf1; font-size: 20px; color:#333333; line-height:1.2em; font-family:'Apax','Arial',sans-serif; margin-top: 0; padding: 10px 20px; }
.reeleezee .feature-group .featureCheck { text-align: center; }
.reeleezee .feature-group .feature div.featureDescription { position: relative; padding-right: 30px; }
.reeleezee .feature-group .featureDescription .label-info { position: absolute; top: 15px; right: 10px;  }
.reeleezee .package-titles { position: sticky; top: 70px; background: #FFFFFF; border: 2px solid #e8ecf1; margin: -2px; z-index: 100; }
.reeleezee .package-titles .package { text-align: center; padding: 30px; }
.reeleezee .package-titles .package h3 { margin-bottom: 0; min-height: 60px; }
.reeleezee .package-titles .package .price { margin-bottom: 10px; font-family: Apax,Arial,sans-serif; font-size: 20px; font-weight: 600; display: block; }
.reeleezee .package-titles .package .price small { color: #6d6f6f; font-size: 12px; }
.reeleezee .package-titles .package .pricing-intro { min-height: 60px; }
.reeleezee .package-titles .package .btn-link-blue { padding: 10px; }
.reeleezee #factureren .feature-group .feature, .reeleezee #factureren .package-titles { grid-template-columns: 30% 1fr 1fr; }
.reeleezee #boekhouden .feature-group .feature, .reeleezee #boekhouden .package-titles { grid-template-columns: 25% 1fr 1fr 1fr; }

@media(min-width:992px){
.exact-ac .mainmenu .deeper.parent.active>a{color:#f78c2d}.exact-ac .mainmenu .dropdown.show>a:after{background:#f78c2d}.exact-ac .mainmenu .navbar-collapse>ul.menu>li{position:relative}.exact-ac .mainmenu .dropdown-menu .container{padding:15px 20px}.exact-ac .mainmenu .dropdown-menu .container .col-menu{max-width:none;flex:0 0 100%;padding:0 15px;background:#FFF}.exact-ac .mainmenu .dropdown-menu .col-default{display:none}.exact-ac .mainmenu ul.nav-child{flex:0 0 100%;max-width:none;padding:0 15px}.backbone-menu,.exact-ac .backbone-form,.vertical-backbone,.exact-ac .mainmenu .dropdown-menu .container:before{display:none}
}

@media(max-width:992px) {
.mainmenu .navbar-brand img { width: 120px; }
.navbar { background: rgba(255, 255, 255, 0.7); }
.navbar-toggler span { background: #333; }
.toggle-search-mobile a { color: #333; }
.exact-ac .extend-left img { position: relative; margin: 0; }
.exact-ac .extend-right img { position: relative; margin: 0;  }
.exact-ac .bottom-menu .country-selector .posttext { display: none; }
.exact-ac .bottom-menu .country-selector::before { background: none; }
.reeleezee .customers::before { height: 100%; }
}

@media(max-width:767px) {
.mobile { display: none; }
.reeleezee #header { background: none!important; border-bottom: 2px solid #F68D2E; }
}